@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    --main-bg-color: brown;
    --font1:'Didact Gothic', sans-serif;
    --font2: 'Roboto', sans-serif;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0px 15px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}

.form-input {
    padding: 0px 15px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}